<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body>
    <h1>Hello , let's sign you Up</h1>

    <form action="http://localhost:8080/account/signup/up" method="POST">
        <input type="text" placeholder="Name">
        <input type="text" placeholder="Surname">
        <input type="text" placeholder="Email">
        <input type="text" placeholder="Address">
        <input type="text" placeholder="Age">
        <input type="text" placeholder="WorkPlace">
        <input type="text" placeholder="Position">
        <button type="submit">Submit</button>
    </form>

</body>
</html>